<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="footer-col-wrapper">
    <div class="footer-col footer-col-1">
      <ul class="contact-list">
        {%- if site.email -%}
        <li>
          <a class="u-email" href="mailto:{{ site.email }}">
            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 14 16">
              <path fill-rule="evenodd" d="M0 4v8c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1H1c-.55 0-1 .45-1 1zm13 0L7 9 1 4h12zM1 5.5l4 3-4 3v-6zM2 12l3.5-3L7 10.5 8.5 9l3.5 3H2zm11-.5l-4-3 4-3v6z"/>
            </svg>
            <span>{{ site.email }}</span>
          </a>
        </li>
        {%- endif -%}
        {%- include social.html -%}
        <li class="rss-subscribe">
          <a href="{{ "/feed.xml" | relative_url }}">
            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16"><path fill-rule="evenodd" d="M2 13H0v-2c1.11 0 2 .89 2 2zM0 3v1a9 9 0 0 1 9 9h1C10 7.48 5.52 3 0 3zm0 4v1c2.75 0 5 2.25 5 5h1c0-3.31-2.69-6-6-6z"/></svg>
            <span>RSS</span>
          </a>
        </li>
      </ul>
    </div>

  </div>
</footer>
