---
layout: default
---
<div class="home">
  {{ content }}
  {%- if site.posts.size > 0 -%}
    <div class="tab-header">
      <ul>
        <li class="selected-tab">tech</li>
        <li>life</li>
        <li>writing</li>
      </ul>
    </div>
    <div class="tab-content selected-tab-content">
      <ul class="post-list">
        {%- for post in site.posts -%}
          {%- if post.section == 'tech' -%}
            {%- include post-list-item.html -%}
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
    <div class="tab-content">
      <ul class="post-list">
        {%- for post in site.posts -%}
          {%- if post.section == 'life' -%}
            {%- include post-list-item.html -%}
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
    <div class="tab-content">
      <ul class="post-list">
        {%- for post in site.posts -%}
          {%- if post.section == 'writing' -%}
            {%- include post-list-item.html -%}
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}
</div>